.pageBody{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
.container{
	width: 1100px;
	margin: 0 auto;
}
.clearfix::after {
  content: "";
  clear: both;
	display: block;
}
.link{
	text-decoration: none;
	color:white;
}
.color{
	color: white;
	text-transform: uppercase;
}
.green_color{
	color: #18cfab;
	text-transform: uppercase;
}
.header{
	margin: 0;
	height: 800px;
	background-image: url("../img/background/section-1(header).jpg");
}
/*.............................nav menu........................*/
.nav{
	width: 100%;
	background-color: rgba(70, 70, 70, 0.6);
}
.left_part{
	display: inline-flex;
}
.logo-hexagon{
	width: 50px;
	height: 50px;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	background-color: #18cfab;
}
.logo_link{
	height: 100%;
	display: flex;
}
.logo_text{
	margin: 4px 0;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}
.lowercase{
	text-transform: lowercase;
	margin-left: 5px;
}
.font_bold{
	font-weight: bold;
}
.menu_list{
	display: inline-flex;
	list-style: none;
}
.nav_container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 110px;
}
.menu_list_link{
	padding-bottom: 34px;
	margin-left: 12px;
	font-weight: bold;
	font-size: 13px;
	color: #b8b8b8;
}
.menu_list_link:hover{
	border-bottom: 1px solid #18cfab;
	color: #18cfab;
}
/*...................we are creative....................*/
.weAreCreative{
	display: flex;
	justify-content: center;
	height: calc(100% - 110px);
	align-items: center;
}
.creative_text{
	text-align: center;
}
.creative_h3{
	font-size: 35px;
	margin: 25px 0;
	font-weight: bold;
}
.creative_h2{
	font-size: 70px;
	margin: 0;
	font-weight: bold;
}
.creative_p{
	font-size: 30px;
	text-transform: capitalize;
}
.green_button{
	outline: none;
	border-radius: 7px;
	margin-top: 100px;
	border: none;
	border-top: 3px solid white;
	height: 60px;
	width: 166px;
	font-size: 12px;
	font-weight: bold;
	background-color: #18cfab;
}
.blue_button{
	outline: none;
	margin-left: 15px;
	margin-top: 100px;
	border-radius: 7px;
	height: 60px;
	width: 166px;
	border: none;
	font-weight: bold;
	font-size: 12px;
	border-top: 3px solid white;
	background-color: #00cbf6;
}
/*.................four blocks..............*/
.block{
	float:left;
	height: 360px;
	width: calc(100% / 4) ;
	text-align: center;
}
.bg_color_green{
	background-color: #18cfab;
	border-top: 7px solid white;
}
.bg_color_blue{
	background-color: #1c2a33;
	border-top: 7px solid #18cfab;
}
.block_img{
	margin-top: 110px;
}
.block_text{
	margin-top: 40px;
}
/*..............our services.............*/
.services{
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 60px;
}
.service_header{
	text-align: center;
	font-size: 36px;
	font-weight: 400;
	color: #4e4e4e;
	text-transform: capitalize;
}
.service_header::after{
	content: "";
	border:1px solid #18cfab;
	margin-top: 20px;
	margin-left: 520px;
	width: 50px;
	display: block;
	box-shadow: 8px 5px 0 0 #18cfab;
}
.service_list {
	list-style: none;
	padding-left: 0;
}
.centered_content {
	display: flex;
	flex-direction: column;
}
#tabs {
	display: flex;
}
.tabs_title {
	width: 190px;
	text-align: center;
	padding:25px 0;
	color: #777777;
	background-color: #f8fcfe;
	cursor: pointer;
	position: relative;
	border: 1px solid #ebecec;
}
.tabs_title.active {
	background-color:#18cfab ;
	border: 1px solid #18cfab;
	color: white;
}
.active::after{
	content: "";
	position: absolute;
	width: 1px;
	height: 1px;
	right: 79px;
	top:69px;
	border-top: 10px solid #18cfab;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
}
.tabcontent{
	display: flex;
}
.tabcontent_img{
	display: flex;
	height: 140px;
}
.tabcontent_img img{
	width: 195px;
}
.tabcontent_text{
	display: flex;
	text-align: justify;
	margin-left: 15px;
	color: #777777;
}
.tabcontent:not(.tab_content_active){
	display: none;
}
/*.....................bacground two.................................*/
.backgroundTwo{
	margin-top: 100px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/background/section-2.jpg");
	text-align: center;
	background-position: center;
}
.bgtwotext{
	padding: 130px 0;
}
.bg_two_header{
	font-size: 39px;
	font-weight: bold;
}
.bg_two_p{
	font-size: 16px;
	color: #d8d8d8;
}
/*...............................our work...............................*/
.our_work_background{
	background-color: #f8fcfe;
	border-bottom: 1px solid #e1e1e1;
}
.works_header{
	padding-top: 40px;
	margin: 0;
}
.work_category{
	text-align: center;
	padding:17px 20px;
	font-size: 14px;
	color: #717171;
	cursor: pointer;
	border: 1px solid #ebebeb;
}
.work_category:hover{
	border-top: 2px solid #18cfab;
}
.work_list{
	justify-content: center;
	margin-top: 50px;
}
.work-content{
	margin-top:50px;
	display: flex;
  	flex-flow: wrap;
  	width: 100%;
}
.work_image{
	display: flex;
	cursor: pointer;
	position: relative;
}
.work-content > .work_image{
	width: calc(100% / 4 - 4px );
}
.description{
	position: absolute;
	background-color: white;
	width: 285px;
	height: 100%;
	border-top: 2px solid #18cfab; 
	display: none;
	text-align: center;
}
.link_icon{
	color: #18cfab;
	border: 1px solid #18cfab;
	padding: 10px;
	border-radius: 30px;
	margin-top: 40px;
	display: inline-block;
}
.image_paragraph{
	color: #8a8a8a;
	font-size: 20px;
	text-transform: capitalize;
}
.work_image:hover .description{
	display: block;
}
.link_icon:hover{
	background-color: #18cfab;
	color: white;
}
.button_block{
	text-align: center;
}
.load_btn{
	cursor: pointer;
	position: relative;
	margin-bottom: 50px;
	font-weight: bold;
	border: none;
}
.load_plus{
	position: absolute;
	font-size: 22px;
	left: 20px;
	bottom: 17px;
}
.work_active{
	border-top: 2px solid #18cfab;
}
/*........................breaking_news.................*/
.news_section{
	margin-top:50px;
	display: flex;
  	flex-flow: wrap;
  	width: 100%;
}
.news{
	text-decoration: none;
	display: flex;
	cursor: pointer;
	position: relative;
	width: calc(100% / 4 - 21px );
	flex-direction: column;
	margin-right: 28px;
	margin-bottom: 40px;
}
.news:nth-child(4n){
     margin-right: 0;
 }
.news_description{
	background-color: #f8fcfe;
	border: 1px solid #ececec;
	border-top: none;
	
}
.description_header{
	color: #717171;
	text-transform: capitalize;
	font-size: 18px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.admin:after{
	content: "";
	margin:0 12px;
	border-right: 1px solid #777;
}
.description_p{
	font-size: 14px;
	color: #777777;
	margin:0 0 15px 15px;
	
}
.description_p::first-letter{
	text-transform: uppercase;
}
.date{
	position: absolute;
	right: 0;
	color: white;
	width: 68px;
	height: 66px;
	background-color: #203e38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.date_p{
	margin: 0; 
}
.news:hover .date{
    background: #18cfab;
}

.news:hover .description_header{
    color: #18cfab;
}
/*....................people say....................*/
.people_background{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background/section-3.jpg");
	background-position: 50% 65%;
}
.people_say{
	padding-top: 40px;
	text-align: center;
}
.people_header{
	color: white;
}
.quota-icon{
	color: #18cfab;
	font-size: 26px;
	margin-top: 30px
}
.people_p{
	text-align: center;
	color: #bbb;
	font-size: 15px;
	margin-top: 30px;
}
.slick-bigger .slide_image_div{
    border-radius: 100%;
    width: 153px;
    border:10px solid rgba(10, 80, 65, .5) ;
    margin-left: calc((100% / 2) - 80px);
}

.slick-bigger img{
    width: 149px;
    border-radius: 100%;
    border: 2px solid #18cfab;
}

.slick-smaller{
    width: 500px;
    height: 100px;
    margin: 0 auto;
    margin-top: 40px;
}

.slick-smaller img{
    width: 62px;
    height: 62px;
    border:5px solid rgba(10, 80, 65, .5) ;
    margin-right: 30px;
    border-radius: 70px;
}
.slick-slider{
    margin-top: 40px;
    margin-bottom: 40px;
}
.slide_text{
    color: white;
}
.people_name{
    color: #18cfab;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
}
.people_about{
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 27px;
}

.slick-current+img{
    position: relative;
    bottom: 5px;
    box-shadow: 0 0 0 5px rgba(10, 80, 65, .5);
    border: 2px solid #18cfab;
}

.slick-smaller .slick-track{
    height: 100px;
    padding: 20px;
}
.slick-prev{
    background: transparent;
    color: white;
    left: -36px;
    width: 23px;
    height: 23px;
    top: 55px;
    border: 1px solid white;
}

.slick-prev:hover{
    border: 1px solid #18cfab;
    background: #18cfab;
}

.slick-prev:before {
    content: '\2039';
    font-size: 25px;
    position: relative;
    bottom: 6px;
}
.slick-next{
    background: transparent;
    color: white;
    right: -36px;
    width: 23px;
    height: 23px;
    top: 55px;
    border: 1px solid white;
}

.slick-next:hover{
    border: 1px solid #18cfab;
    background: #18cfab;
}

.slick-next:before {
    content: '\203A';
    font-size: 25px;
    position: relative;
    bottom: 6px;
}

/*............footer.........*/
.footer_block{
    background: #22353f;
    padding: 18px;
    text-align: center;
}

.footer_text{
    color: white;
    text-transform: capitalize;
}

.theham{
    color: #18cfab;
    text-transform: none;
}

.theham::after{
    content: "";
    margin: 0 5px;
    border-right: 1px solid #fff;
}


